/**************************************
	base
***************************************/
/* ---------------------------------------------------------
スタイルリセット
----------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
}

/*h1,h2,h3,h4,h5,h6,td,th,p,ul,li,dt,dd {
	font-size: 1em;
}*/

ul li {
	list-style: none;
}

article, header, footer, aside, figure, figcaption, nav, section { 
	display:block;
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img{
	vertical-align: bottom;
}


/* ---------------------------------------------------------
変数
----------------------------------------------------------*/
/*break point
-----------------------*/
$pcSize: 1200px;
$mobileSize: 767px;
$contentSize: 900px;


/*color
-----------------------*/
$white: #fff;
$black: #000;
$green: #45a06d;


/*font family
-----------------------*/

$fontFamily:'Montserrat', 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo sans-serif;

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
/* ---------------------------------------------------------
mixin
----------------------------------------------------------*/
/*メディアクエリ
-----------------------*/
@mixin media($breakPoint) {
	@media screen and (max-width: $breakPoint){
		@content;
	}
}

/*  clearfix
-----------------------*/
@mixin clearfix(){
	&::before,
	&::after{
		content: '';
		display: table;
	}
	&::after{
		clear: both;
	}
}
/*  font-size
-----------------------*/
@mixin fontsize($size: 14, $base: 14) {
	font-size: $size + px;
	font-size: ($size / $base) * 1rem;
}
/*  transition
-----------------------*/
@mixin transition {
	transition: all .2s linear;
}

@mixin hoverOpacity {
	&:hover {
		opacity: .7;
	}
}

/* render text
----------------------*/
@mixin renderText {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
/* ---------------------------------------------------------
初期設定
----------------------------------------------------------*/
html {
	color: $black;
	background-color: $white;
	font-weight: 500;
	line-height: 1.9;
	letter-spacing: 0.01em;;
	scroll-behavior: smooth;
	
    overflow-x: hidden;
}
body {
	font-family: $fontFamily;
	overscroll-behavior: none;
	overflow-x: hidden;
}
body ::-webkit-scrollbar {
	right: 0;
    width: 0;
    background-color: transparent;
} 
body ::-webkit-scrollbar-thumb {
    background-color: #2D3B48;
    width:5px;
    border-radius:5px;
}
html,
body {
	position: relative;
	@include renderText;	
	margin:0 auto;
	scroll-behavior: smooth !important;
}
section {
	width:100%;
	position: relative;
}
a {
	text-decoration:none;
	color: $black;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
	font-size: 0 !important;
	letter-spacing: 0 !important;
	line-height: 0;
}


table {
	width: 100%;
	border-collapse: collapse;
}

.clearfix {
	@include clearfix;
}

/******************************
 	base sp
*******************************/

@include media($mobileSize) {
	html {
		min-width: 100%;
	}
	main {
		padding-top: 45px;
	}
}



