/**************************************

common.scss

***************************************/

.pc {
	display: block;
}

.sp {
	display: none !important;
}
.ipad {
	display: none !important;
}
.standard {
	font-size: 17px;
}

.big {
	a {
		font-size: 19px;
	}

	.txt_01,
	.txt_02 {
		font-size: 17px;
	}
	
}
section {
	.inner__container {
		text-align: center;
	  	margin: 0 auto;
	  	position: relative;
	  	.inner__content {
	  		margin: 0 auto;
	  		max-width: 1100px;
	  		position: relative;
	  		@include clearfix;
	  	}
  	}
  	.title_01 {
  		color: $white;
  		text-align: left;
  		font-size: 50px;
		font-weight: 500;
  	}
  	.title_02 {
  		color: $green;
  		text-align: right;
  		font-size: 50px;
		font-weight: 500;
  	}
  	.txt_01 {
  		color: $white;
  		text-align: left;
		font-weight: 500;
		font-size: 15px;
		font-family: $fontFamily;
  	}
  	.txt_02 {
  		text-align: right;
		font-weight: 500;
		font-size: 15px;
		font-family: $fontFamily;
  	}
}

/******************************
    SP
*******************************/

@include media($mobileSize) {
	html, body {
		min-width: auto;
	}

	.pc {
		display: none !important;
	}

	.sp {
		display: block !important;
	}
	.ipad {
		display: none !important;
	}
	section {
		.inner__container {
		  	.inner__content {
		  		max-width: 90%;
		  	}
	  	}
	  	.title_01 {
	  		text-align: left;
	  		font-size: 22px;
	  	}
	  	.title_02 {
	  		text-align: left;
	  		font-size: 22px;
	  	}
	  	.txt_01 {
	  		text-align: left;
			font-size: 12px;
	  	}
	  	.txt_02 {			
	  		text-align: left;
	  		font-size: 12px;
	  	}
	}
}