/**************************************
footer
***************************************/
footer {
  .pc {
    display: table-cell;
  }
  background-color: $green;
  padding-top: 60px;
  margin-top: 90px;
  .to-top {
    position: fixed;
    right: 0;
    bottom: 5%;
    display: inline-block;
    width: 130px;
    text-align: left;
    color: $green;
    border-bottom: 2px solid $green;
    opacity: .6;
    z-index: 99;
    @include transition;
    &:hover {
      opacity:1;
    }
  }
  .hide-top {
    transform: translateX(100%);
  }
  .color-negative {
    color: $white;
    border-bottom: 2px solid #FFF;
  }
	.inner__container {
		text-align: center;
	  	margin: 0 auto;
	  	position: relative;
	  	.inner__content {
	  		margin: 0 auto;
	  		max-width: 1100px;
	  		position: relative;
	  		@include clearfix;
	  	}
  	}
  	table {
  		tr {
  			th {
  				vertical-align: top;
  				width: max-content;
  				text-align: left;
  				color: $white;
  				font-size: 14px;
  				font-weight: 200;
  				img {
  					width: 200px;
  					margin-bottom: 25px;
  				}
  				a {
  					color: $white;
  					@include hoverOpacity;
  					@include transition;
  				}
  				.link-arrow {
  					&:after {
  						content: "";
  						width: 10px;
  						height: 10px;
  						display: inline-block;
  						border-top: 1px solid $white;
  						border-right: 1px solid $white;
  						transform: rotate(45deg);
  					}
  				}
  				ul {
  					margin-bottom: 20px;
  					li {
  						margin-bottom: 5px;
  					}
  					.big {
  						a {
  							font-weight: 900;
  							font-size: 17px;
  						}
  					}
  				}
  			}
  		}
  	}
  	p {
  		text-align: center;
  		color: $white;
  		font-size: 14px;
  		font-weight: 500;
  		padding: 20px 0;
  	}
}

/******************************
    footer sp
*******************************/

@include media($mobileSize) {
  footer {
    padding-top: 30px;
    .inner__container {
      .inner__content {
        max-width: 90%;
      }
    }
    table {
      tr {
        th {
          img {
            display: block;
            text-align: center;
            margin: 0 auto 20px;
            width: 120px;
          }
          ul {
            display: block;
            text-align: center;
            margin-bottom: 15px;
            li {
              margin: 0;
            }
            &:nth-last-child(2) {
              li {
                display: inline-block;
                width: 30%;
                text-align: center;
                margin: 0;
              }
            }
            &:last-child {
              margin-bottom: 0;
              li {
                border-bottom: 1px solid #6ab38a;
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
    p {
      text-align: left;
      width: 90%;
      margin-left: 5%;
      padding: 10px 0;
    }
  }
}