/**************************************
	header
***************************************/

header {
	height: 90px;	
	position: relative;
	.header__content {
		display: inline-block;
		width: 100%;
		padding-top: 45px;
		position: relative;
		&-logo {
			position: absolute;
			top: 25px;
			left: 5%;
			max-width: 180px;
			width: 15%;
		}
		&-menu {
			display: inline-block;
			vertical-align: bottom;
			float: right;
			margin-right: 200px;
			table {
				tr {
					td {
						padding-right: 20px;
						text-align: right;
						&:last-child {
							padding-right: 0;
						}
					}
				}
			}
		 	a {
				@include transition;
				&:hover {
					color: $green;
	           	}
		 	}
		}
		&-fontsize {
			display: flex;
			position: absolute;
			top: 10px;
			right: 200px;
			table {
				tr {
					td {
						letter-spacing: 0;
						font-size: 14px;
						&:first-child {
							padding-right: 5px;
						}
					}
				}
			}
			a {
				padding: 1px 15px;
				color: $green;
				border: 1px solid $green;
				font-size: 14px;
				@include transition;
				&:hover {
					background-color: $green;
					color: $white;
				}
			}
			.active-font {
				background-color: $green;
				color: $white;
				@include transition;
				&:hover {
					background-color: $white;
					color: $green;
				}
			}
		}
		&-contact {
			a {
				position: absolute;
				right: 0;
				top: 0;
				display: inline-block;
				width: 170px;
				height: 90px;
				background-color: $green;
				color: $white;
	            @include centercontent;
				@include transition;
	            @include hoverOpacity;
			}
		}
	}
}


/******************************
    header sp
*******************************/

@include media($mobileSize) {
	.header-active {
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		@include transition;
	}
	header {		
		width: 100%;
		position: fixed;
		z-index: 99;
		@include transition;
		.header__content {
			background-color: $white;
			z-index: 2;
			&-logo {
				top: 5px;
				width: 120px;
			}
		}
		.burger-menu {
			position: absolute;
			z-index: 10;
			width: 75px;
			height: 45px;
			right: 0;
			top: 0;
			cursor: pointer;
			&-icon {
				margin-top: 15px;
				margin-left: 23px;
				span {
					@include transition;
					width: 30px;
					height: 2px;
					margin: 5px 0;
					background-color: $green;
					display: block;
				}
			}
			&__active {
				background-color: $green;
				span {
					@include transition;
					background-color: $white;
					&:first-child {
						transform: rotate(225deg) translate(0px, -5px);
					}
					&:nth-child(2) {
						transform: scale(0);
					}
					&:last-child {
						transform: rotate(-225deg) translate(-5px, 10px);
					}
				}
			}
		}
		.sp-menu__content {
			padding: 5%;
			width: 90%;
			margin-top: -15px;
			background-color: $white;
			transform: translateY(-120%);
			position: relative;
			z-index: 1;
			@include transition;
			a {
				@include transition;
				position: relative;
				display: inline-block;
				width: 100%;
				&:hover {
					color: $green;
				}
			}
			ul {
				li {
					border-top: 1px solid #e5e5e5;
					font-weight: 900;
					line-height: 2.5;
					&:first-child {
						border-top: none;
					}
				}
			}
			&-active {
				@include transition;
				transform: translateY(0);
			}
			&-sub {
				display: none;
				ul {
					li {
						font-weight: 500;
						border-top: none;
					}
				}
			}
		}
		.more-menu, 
		.more-menu2 {
			&:after {
				content: "\2715";
				transform: rotate(-45deg);
				display: inline-block;
				position: absolute;
				right: 0;
				color: $green;
				@include transition;
			}
		}
		.open {
			&:after {
				content: "\2014";
				transform: rotate(180deg);
				@include transition;
			}
		}
	}
}