/**************************************
home.scss
***************************************/

.home {
	&__news {
		position: relative;
		margin-bottom: 60px;
		@include clearfix;
		.news__content {
			border-bottom: 1px solid #e5e5e5;
		}
		.news__title {
			float: left;
			display: inline-block;
			width: 170px;
			height: 90px;
			background-color: #000;
			color: $white;
            @include centercontent;
		}
		.swiper-container-home_news {
			margin-top: 30px;
			.swiper-home_news {
				.swiper-slide {
					text-align: left;
					.news__slide-date {
						margin-left: 50px;
						display: inline-block;
						padding-right: 15px;
						position: relative;
						&:after {
							content: "|";
							position: absolute;
							right: 0;
						}
					}
					.news__slide-title {
						display: inline-block;
						padding-left: 5px;
					}
				}
			}
			.news__arrow {
				position: absolute;
				right: 15px;
				bottom: -45px;
				.swiper-button-next {
					position: relative;
					display: inline-block;
					width: 15px;
					height: 15px;
					border-left: 2px solid $green;
					border-top: 2px solid $green;
					transform: rotate(-45deg);
				}
				.swiper-button-prev {
					position: relative;
					display: inline-block;
					width: 15px;
					height: 15px;
					border-right: 2px solid $green;
					border-top: 2px solid $green;
					transform: rotate(45deg);
				}
			}
		}
	}
	&__product {
		.inner__content {
			padding: 50px 0 0;
		}
		.product-bg {
			position: absolute;
			top: 0;
			right: 15%;
			z-index: -1;
			width: 500%;
			height: 100%;
			background: rgb(69,160,109); 
		}
		.product-redirect {
			position: absolute;
			right: 0;
			top: 80px;
			border-bottom: 2px solid $green;
			display: inline-block;
			width: 15%;
			text-align: right;
			color: $green;
			@include hoverOpacity;
			@include transition;
		}
		.txt_01 {
			width: 80%;
		}
		.swiper-container-home_product {
			/*width: 86vw;*/
			margin: 60px 0;
			overflow: inherit;
			.swiper-wrapper {
				.swiper-slide {
					width: auto;
					img {
						width: auto;
						height: 245px;
					}
					p {
						text-align: left;
					}
				}
			}
		}
	}
	&__service {
		margin-bottom: 60px;
		position: relative;
		@include clearfix;
		&-desc {
			display: inline-block;
			vertical-align: middle;
			max-width: 550px;
			text-align: right;
			margin-left: auto;
			letter-spacing: 0;
			position: absolute;
			right: 50%;
			top: 50%;
			transform: translateY(-50%);
			padding-right: 25px;
		}
		&-img {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			letter-spacing: 0;
			float: right;
		}
		.service-redirect {
			padding-bottom: 5px;
			padding-left: 20px;
			margin-top: 30px;
			border-bottom: 2px solid $green;
			display: inline-block;
			text-align: right;
			color: $green;
			@include hoverOpacity;
			@include transition;
		}
	}
	&__portfolio {
		@include clearfix;
		.txt_02 {
			float: right;
			position: absolute;
			right: 0;
			width: 50%;
		}
		.portfolio-redirect {
			border-bottom: 2px solid $green;
			display: inline-block;
			width: 15%;
			text-align: right;
			color: $green;
			float: right;
			position: absolute;
			right: 0;
			top: 50%;
			@include hoverOpacity;
			@include transition;
		}
		.portfolio-sample {
			float: left;
			img {
				display: inline-block;
				vertical-align: bottom;
				width: calc(25% - 20px);
				margin-left: 25px;
				letter-spacing: 0 !important;
				&:first-child {
					width: calc(50% - 20px);
					margin-left: 0;
				}
			}
		}
	}
}

/******************************
    SP
*******************************/
@include media($mobileSize) {
	.home {
		&__news {
			margin-top: 30px;
			margin-bottom: 20px;
			.news__content {
				border-bottom: none;
			}
			.news__title {
				width: auto;
				height: auto;
				padding: 0 10px;
				position: absolute;
				left: 0;
				z-index: 2;
				font-weight: 200;
			}
			.swiper-container-home_news {
				margin-top: 0;
				position: relative;
				.swiper-home_news {
					.swiper-slide {
						.news__slide-date {
							margin-left: 0;
							padding-left: 85px;
							font-weight: 200;
							&:after {
								content: "";
							}
						}
						.news__slide-title {
							display: block;
							padding-left: 0;
							max-width: 100%;
						}
					}
				}
				.news__arrow {
					top: 30px;
					bottom: auto;
					.swiper-button-next {
						width: 12px;
						height: 12px;
					}
					.swiper-button-prev {
						width: 12px;
						height: 12px;
					}
				}
			}
		}
		&__product {
			.inner__content {
				padding: 0;
				text-align: left;
			}
			.product-bg {
				right: -10%;
				height: 70%;
			}
			.product-redirect {
				position: relative;
				right: auto;
				top: auto;
				border-bottom: 2px solid $white;
				width: auto;
				color: $white;
				margin-top: 15px;
				padding-right: 15px;
				line-height: 1.4;
			}
			.txt_01 {
				width: 100%;
			}
			.swiper-container-home_product {
				margin: 30px 0;
				.swiper-wrapper {
					.swiper-slide {
						width: auto;
						img {
							width: auto;
							height: 40vw;
						}
					}
				}
			}
		}
		&__service {
			margin-bottom: 30px;
			&-desc {
				display: block;
				max-width: 90%;
				margin: 0 auto;
				position: relative;
				right: auto;
				padding: 0;
				transform: unset;
				text-align: left;
			}
			&-img {
				display: block;
				width: 90%;
				margin: 30px auto 0;
				float: none;
			}
			.service-redirect {
				padding-bottom: 0;
				padding-left: 0;
				padding-right: 25px;
				margin-top: 10px;
				text-align: left;
				line-height: 1.4;
			}
		}
		&__portfolio {
			.inner__content {
				text-align: left;
			}
			.txt_02 {
				float: none;
				position: relative;
				right: 0;
				width: 100%;
			}
			.portfolio-redirect {
				display: inline-block;
				width: auto;
				text-align: left;
				float: none;
				position: relative;
				right: 0;
				top: 50%;
				padding-right: 15px;
				margin: 10px 0 20px;
				line-height: 1.4;
			}
			.portfolio-sample {
				float: left;
				img {
					width: calc(50% - 10px);
					margin-left: 0;
					margin-bottom: 15px;
					&:first-child {
						width: 100%;
						margin-left: 0;
					}
					&:last-child {
						margin-left: 15px;
					}
				}
			}
		}
	}
}



