@charset "UTF-8";
/**************************************
	base
***************************************/
/* ---------------------------------------------------------
スタイルリセット
----------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal; }

/*h1,h2,h3,h4,h5,h6,td,th,p,ul,li,dt,dd {
	font-size: 1em;
}*/
ul li {
  list-style: none; }

article, header, footer, aside, figure, figcaption, nav, section {
  display: block; }

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

img {
  vertical-align: bottom; }

/* ---------------------------------------------------------
変数
----------------------------------------------------------*/
/*break point
-----------------------*/
/*color
-----------------------*/
/*font family
-----------------------*/
/* ---------------------------------------------------------
mixin
----------------------------------------------------------*/
/*メディアクエリ
-----------------------*/
/*  clearfix
-----------------------*/
/*  font-size
-----------------------*/
/*  transition
-----------------------*/
/* render text
----------------------*/
/* ---------------------------------------------------------
初期設定
----------------------------------------------------------*/
html {
  color: #000;
  background-color: #fff;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 0.01em;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  font-family: "Montserrat", 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  overflow-x: hidden; }

body ::-webkit-scrollbar {
  right: 0;
  width: 0;
  background-color: transparent; }

body ::-webkit-scrollbar-thumb {
  background-color: #2D3B48;
  width: 5px;
  border-radius: 5px; }

html,
body {
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  scroll-behavior: smooth !important; }

section {
  width: 100%;
  position: relative; }

a {
  text-decoration: none;
  color: #000; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  font-size: 0 !important;
  letter-spacing: 0 !important;
  line-height: 0; }

table {
  width: 100%;
  border-collapse: collapse; }

.clearfix::before, .clearfix::after {
  content: '';
  display: table; }
.clearfix::after {
  clear: both; }

/******************************
 	base sp
*******************************/
@media screen and (max-width: 767px) {
  html {
    min-width: 100%; }

  main {
    padding-top: 45px; } }
/**************************************
mixin.scss
***************************************/
/**************************************

common.scss

***************************************/
.pc {
  display: block; }

.sp {
  display: none !important; }

.ipad {
  display: none !important; }

.standard {
  font-size: 17px; }

.big a {
  font-size: 19px; }
.big .txt_01,
.big .txt_02 {
  font-size: 17px; }

section .inner__container {
  text-align: center;
  margin: 0 auto;
  position: relative; }
  section .inner__container .inner__content {
    margin: 0 auto;
    max-width: 1100px;
    position: relative; }
    section .inner__container .inner__content::before, section .inner__container .inner__content::after {
      content: '';
      display: table; }
    section .inner__container .inner__content::after {
      clear: both; }
section .title_01 {
  color: #fff;
  text-align: left;
  font-size: 50px;
  font-weight: 500; }
section .title_02 {
  color: #45a06d;
  text-align: right;
  font-size: 50px;
  font-weight: 500; }
section .txt_01 {
  color: #fff;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  font-family: "Montserrat", 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo sans-serif; }
section .txt_02 {
  text-align: right;
  font-weight: 500;
  font-size: 15px;
  font-family: "Montserrat", 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo sans-serif; }

/******************************
    SP
*******************************/
@media screen and (max-width: 767px) {
  html, body {
    min-width: auto; }

  .pc {
    display: none !important; }

  .sp {
    display: block !important; }

  .ipad {
    display: none !important; }

  section .inner__container .inner__content {
    max-width: 90%; }
  section .title_01 {
    text-align: left;
    font-size: 22px; }
  section .title_02 {
    text-align: left;
    font-size: 22px; }
  section .txt_01 {
    text-align: left;
    font-size: 12px; }
  section .txt_02 {
    text-align: left;
    font-size: 12px; } }
/**************************************
	header
***************************************/
header {
  height: 90px;
  position: relative; }
  header .header__content {
    display: inline-block;
    width: 100%;
    padding-top: 45px;
    position: relative; }
    header .header__content-logo {
      position: absolute;
      top: 25px;
      left: 5%;
      max-width: 180px;
      width: 15%; }
    header .header__content-menu {
      display: inline-block;
      vertical-align: bottom;
      float: right;
      margin-right: 200px; }
      header .header__content-menu table tr td {
        padding-right: 20px;
        text-align: right; }
        header .header__content-menu table tr td:last-child {
          padding-right: 0; }
      header .header__content-menu a {
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
        header .header__content-menu a:hover {
          color: #45a06d; }
    header .header__content-fontsize {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 10px;
      right: 200px; }
      header .header__content-fontsize table tr td {
        letter-spacing: 0;
        font-size: 14px; }
        header .header__content-fontsize table tr td:first-child {
          padding-right: 5px; }
      header .header__content-fontsize a {
        padding: 1px 15px;
        color: #45a06d;
        border: 1px solid #45a06d;
        font-size: 14px;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
        header .header__content-fontsize a:hover {
          background-color: #45a06d;
          color: #fff; }
      header .header__content-fontsize .active-font {
        background-color: #45a06d;
        color: #fff;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
        header .header__content-fontsize .active-font:hover {
          background-color: #fff;
          color: #45a06d; }
    header .header__content-contact a {
      position: absolute;
      right: 0;
      top: 0;
      display: inline-block;
      width: 170px;
      height: 90px;
      background-color: #45a06d;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      overflow: hidden;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      header .header__content-contact a:hover {
        opacity: .7; }

/******************************
    header sp
*******************************/
@media screen and (max-width: 767px) {
  .header-active {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }

  header {
    width: 100%;
    position: fixed;
    z-index: 99;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    header .header__content {
      background-color: #fff;
      z-index: 2; }
      header .header__content-logo {
        top: 5px;
        width: 120px; }
    header .burger-menu {
      position: absolute;
      z-index: 10;
      width: 75px;
      height: 45px;
      right: 0;
      top: 0;
      cursor: pointer; }
      header .burger-menu-icon {
        margin-top: 15px;
        margin-left: 23px; }
        header .burger-menu-icon span {
          -webkit-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;
          width: 30px;
          height: 2px;
          margin: 5px 0;
          background-color: #45a06d;
          display: block; }
      header .burger-menu__active {
        background-color: #45a06d; }
        header .burger-menu__active span {
          -webkit-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;
          background-color: #fff; }
          header .burger-menu__active span:first-child {
            -webkit-transform: rotate(225deg) translate(0px, -5px);
            -ms-transform: rotate(225deg) translate(0px, -5px);
            transform: rotate(225deg) translate(0px, -5px); }
          header .burger-menu__active span:nth-child(2) {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0); }
          header .burger-menu__active span:last-child {
            -webkit-transform: rotate(-225deg) translate(-5px, 10px);
            -ms-transform: rotate(-225deg) translate(-5px, 10px);
            transform: rotate(-225deg) translate(-5px, 10px); }
    header .sp-menu__content {
      padding: 5%;
      width: 90%;
      margin-top: -15px;
      background-color: #fff;
      -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
      transform: translateY(-120%);
      position: relative;
      z-index: 1;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      header .sp-menu__content a {
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        position: relative;
        display: inline-block;
        width: 100%; }
        header .sp-menu__content a:hover {
          color: #45a06d; }
      header .sp-menu__content ul li {
        border-top: 1px solid #e5e5e5;
        font-weight: 900;
        line-height: 2.5; }
        header .sp-menu__content ul li:first-child {
          border-top: none; }
      header .sp-menu__content-active {
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
      header .sp-menu__content-sub {
        display: none; }
        header .sp-menu__content-sub ul li {
          font-weight: 500;
          border-top: none; }
    header .more-menu:after,
    header .more-menu2:after {
      content: "\2715";
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      display: inline-block;
      position: absolute;
      right: 0;
      color: #45a06d;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
    header .open:after {
      content: "\2014";
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; } }
/**************************************
footer
***************************************/
footer {
  background-color: #45a06d;
  padding-top: 60px;
  margin-top: 90px; }
  footer .pc {
    display: table-cell; }
  footer .to-top {
    position: fixed;
    right: 0;
    bottom: 5%;
    display: inline-block;
    width: 130px;
    text-align: left;
    color: #45a06d;
    border-bottom: 2px solid #45a06d;
    opacity: .6;
    z-index: 99;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    footer .to-top:hover {
      opacity: 1; }
  footer .hide-top {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  footer .color-negative {
    color: #fff;
    border-bottom: 2px solid #FFF; }
  footer .inner__container {
    text-align: center;
    margin: 0 auto;
    position: relative; }
    footer .inner__container .inner__content {
      margin: 0 auto;
      max-width: 1100px;
      position: relative; }
      footer .inner__container .inner__content::before, footer .inner__container .inner__content::after {
        content: '';
        display: table; }
      footer .inner__container .inner__content::after {
        clear: both; }
  footer table tr th {
    vertical-align: top;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-weight: 200; }
    footer table tr th img {
      width: 200px;
      margin-bottom: 25px; }
    footer table tr th a {
      color: #fff;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      footer table tr th a:hover {
        opacity: .7; }
    footer table tr th .link-arrow:after {
      content: "";
      width: 10px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    footer table tr th ul {
      margin-bottom: 20px; }
      footer table tr th ul li {
        margin-bottom: 5px; }
      footer table tr th ul .big a {
        font-weight: 900;
        font-size: 17px; }
  footer p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 0; }

/******************************
    footer sp
*******************************/
@media screen and (max-width: 767px) {
  footer {
    padding-top: 30px; }
    footer .inner__container .inner__content {
      max-width: 90%; }
    footer table tr th img {
      display: block;
      text-align: center;
      margin: 0 auto 20px;
      width: 120px; }
    footer table tr th ul {
      display: block;
      text-align: center;
      margin-bottom: 15px; }
      footer table tr th ul li {
        margin: 0; }
      footer table tr th ul:nth-last-child(2) li {
        display: inline-block;
        width: 30%;
        text-align: center;
        margin: 0; }
      footer table tr th ul:last-child {
        margin-bottom: 0; }
        footer table tr th ul:last-child li {
          border-bottom: 1px solid #6ab38a;
          padding: 10px 0; }
    footer p {
      text-align: left;
      width: 90%;
      margin-left: 5%;
      padding: 10px 0; } }
/**************************************
home.scss
***************************************/
.home__news {
  position: relative;
  margin-bottom: 60px; }
  .home__news::before, .home__news::after {
    content: '';
    display: table; }
  .home__news::after {
    clear: both; }
  .home__news .news__content {
    border-bottom: 1px solid #e5e5e5; }
  .home__news .news__title {
    float: left;
    display: inline-block;
    width: 170px;
    height: 90px;
    background-color: #000;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden; }
  .home__news .swiper-container-home_news {
    margin-top: 30px; }
    .home__news .swiper-container-home_news .swiper-home_news .swiper-slide {
      text-align: left; }
      .home__news .swiper-container-home_news .swiper-home_news .swiper-slide .news__slide-date {
        margin-left: 50px;
        display: inline-block;
        padding-right: 15px;
        position: relative; }
        .home__news .swiper-container-home_news .swiper-home_news .swiper-slide .news__slide-date:after {
          content: "|";
          position: absolute;
          right: 0; }
      .home__news .swiper-container-home_news .swiper-home_news .swiper-slide .news__slide-title {
        display: inline-block;
        padding-left: 5px; }
    .home__news .swiper-container-home_news .news__arrow {
      position: absolute;
      right: 15px;
      bottom: -45px; }
      .home__news .swiper-container-home_news .news__arrow .swiper-button-next {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-left: 2px solid #45a06d;
        border-top: 2px solid #45a06d;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .home__news .swiper-container-home_news .news__arrow .swiper-button-prev {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-right: 2px solid #45a06d;
        border-top: 2px solid #45a06d;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
.home__product .inner__content {
  padding: 50px 0 0; }
.home__product .product-bg {
  position: absolute;
  top: 0;
  right: 15%;
  z-index: -1;
  width: 500%;
  height: 100%;
  background: #45a06d; }
.home__product .product-redirect {
  position: absolute;
  right: 0;
  top: 80px;
  border-bottom: 2px solid #45a06d;
  display: inline-block;
  width: 15%;
  text-align: right;
  color: #45a06d;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .home__product .product-redirect:hover {
    opacity: .7; }
.home__product .txt_01 {
  width: 80%; }
.home__product .swiper-container-home_product {
  /*width: 86vw;*/
  margin: 60px 0;
  overflow: inherit; }
  .home__product .swiper-container-home_product .swiper-wrapper .swiper-slide {
    width: auto; }
    .home__product .swiper-container-home_product .swiper-wrapper .swiper-slide img {
      width: auto;
      height: 245px; }
    .home__product .swiper-container-home_product .swiper-wrapper .swiper-slide p {
      text-align: left; }
.home__service {
  margin-bottom: 60px;
  position: relative; }
  .home__service::before, .home__service::after {
    content: '';
    display: table; }
  .home__service::after {
    clear: both; }
  .home__service-desc {
    display: inline-block;
    vertical-align: middle;
    max-width: 550px;
    text-align: right;
    margin-left: auto;
    letter-spacing: 0;
    position: absolute;
    right: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 25px; }
  .home__service-img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    letter-spacing: 0;
    float: right; }
  .home__service .service-redirect {
    padding-bottom: 5px;
    padding-left: 20px;
    margin-top: 30px;
    border-bottom: 2px solid #45a06d;
    display: inline-block;
    text-align: right;
    color: #45a06d;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    .home__service .service-redirect:hover {
      opacity: .7; }
.home__portfolio::before, .home__portfolio::after {
  content: '';
  display: table; }
.home__portfolio::after {
  clear: both; }
.home__portfolio .txt_02 {
  float: right;
  position: absolute;
  right: 0;
  width: 50%; }
.home__portfolio .portfolio-redirect {
  border-bottom: 2px solid #45a06d;
  display: inline-block;
  width: 15%;
  text-align: right;
  color: #45a06d;
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .home__portfolio .portfolio-redirect:hover {
    opacity: .7; }
.home__portfolio .portfolio-sample {
  float: left; }
  .home__portfolio .portfolio-sample img {
    display: inline-block;
    vertical-align: bottom;
    width: calc(25% - 20px);
    margin-left: 25px;
    letter-spacing: 0 !important; }
    .home__portfolio .portfolio-sample img:first-child {
      width: calc(50% - 20px);
      margin-left: 0; }

/******************************
    SP
*******************************/
@media screen and (max-width: 767px) {
  .home__news {
    margin-top: 30px;
    margin-bottom: 20px; }
    .home__news .news__content {
      border-bottom: none; }
    .home__news .news__title {
      width: auto;
      height: auto;
      padding: 0 10px;
      position: absolute;
      left: 0;
      z-index: 2;
      font-weight: 200; }
    .home__news .swiper-container-home_news {
      margin-top: 0;
      position: relative; }
      .home__news .swiper-container-home_news .swiper-home_news .swiper-slide .news__slide-date {
        margin-left: 0;
        padding-left: 85px;
        font-weight: 200; }
        .home__news .swiper-container-home_news .swiper-home_news .swiper-slide .news__slide-date:after {
          content: ""; }
      .home__news .swiper-container-home_news .swiper-home_news .swiper-slide .news__slide-title {
        display: block;
        padding-left: 0;
        max-width: 100%; }
      .home__news .swiper-container-home_news .news__arrow {
        top: 30px;
        bottom: auto; }
        .home__news .swiper-container-home_news .news__arrow .swiper-button-next {
          width: 12px;
          height: 12px; }
        .home__news .swiper-container-home_news .news__arrow .swiper-button-prev {
          width: 12px;
          height: 12px; }
  .home__product .inner__content {
    padding: 0;
    text-align: left; }
  .home__product .product-bg {
    right: -10%;
    height: 70%; }
  .home__product .product-redirect {
    position: relative;
    right: auto;
    top: auto;
    border-bottom: 2px solid #fff;
    width: auto;
    color: #fff;
    margin-top: 15px;
    padding-right: 15px;
    line-height: 1.4; }
  .home__product .txt_01 {
    width: 100%; }
  .home__product .swiper-container-home_product {
    margin: 30px 0; }
    .home__product .swiper-container-home_product .swiper-wrapper .swiper-slide {
      width: auto; }
      .home__product .swiper-container-home_product .swiper-wrapper .swiper-slide img {
        width: auto;
        height: 40vw; }
  .home__service {
    margin-bottom: 30px; }
    .home__service-desc {
      display: block;
      max-width: 90%;
      margin: 0 auto;
      position: relative;
      right: auto;
      padding: 0;
      -webkit-transform: unset;
      -ms-transform: unset;
      transform: unset;
      text-align: left; }
    .home__service-img {
      display: block;
      width: 90%;
      margin: 30px auto 0;
      float: none; }
    .home__service .service-redirect {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 25px;
      margin-top: 10px;
      text-align: left;
      line-height: 1.4; }
  .home__portfolio .inner__content {
    text-align: left; }
  .home__portfolio .txt_02 {
    float: none;
    position: relative;
    right: 0;
    width: 100%; }
  .home__portfolio .portfolio-redirect {
    display: inline-block;
    width: auto;
    text-align: left;
    float: none;
    position: relative;
    right: 0;
    top: 50%;
    padding-right: 15px;
    margin: 10px 0 20px;
    line-height: 1.4; }
  .home__portfolio .portfolio-sample {
    float: left; }
    .home__portfolio .portfolio-sample img {
      width: calc(50% - 10px);
      margin-left: 0;
      margin-bottom: 15px; }
      .home__portfolio .portfolio-sample img:first-child {
        width: 100%;
        margin-left: 0; }
      .home__portfolio .portfolio-sample img:last-child {
        margin-left: 15px; } }


